<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Aprennez à votre rithme de nouvelles choses</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <h2>Les derniers contenus</h2>
</div>

<div class="container d-flex">
  <div class="card m-2" style="width: 250px;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <img src="https://source.unsplash.com/200x200/?nature,water" class="card-img-top d-block w-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cours Title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2" style="width: 250px;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <img src="https://source.unsplash.com/200x200/?nature,water" class="card-img-top d-block w-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cours Title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2" style="width: 250px;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <img src="https://source.unsplash.com/200x200/?nature,water" class="card-img-top d-block w-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cours Title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2" style="width: 250px;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <img src="https://source.unsplash.com/200x200/?nature,water" class="card-img-top d-block w-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cours Title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2" style="width: 250px;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <img src="https://source.unsplash.com/200x200/?nature,water" class="card-img-top d-block w-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cours Title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>